@use "../../styles/media-breackpoints" as *;

.about {
  flex-grow: 1;
  .aboutContainer {
    display: flex;
    flex-direction: row;
    .aboutArticle {
      p {
        margin-bottom: 20px;
        max-width: 70%;
      }
    }
    .portrait {
      width: 365px;
    }
  }
}

@include mq(laptop-l) {
  .about {
    .aboutContainer {
      .aboutArticle {
        p {
          max-width: fit-content;
        }
      }

      .portrait {
        display: none;
      }
    }
  }
}

@include mq(tablet) {
  .about {
    .aboutContainer {
      display: flex;
      flex-direction: column;
      .aboutArticle {
        p {
        }
      }

      .portrait {
        display: block;
        margin: auto;
      }
    }
  }
}

@include mq(mobile) {
  .about {
    .aboutContainer {
      .aboutArticle {
        p {
        }
      }

      .portrait {
        display: block;
        margin: auto;
      }
    }
  }
}
